.app {
  display: flex;
}


/************************** Side group List styling  *******************************/
.sidemenu {
  width: 25vw;
  height: 100dvh;
  position: relative;

  .heading {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.02rem;
    text-align: center;
    position: sticky;
    top: 10dvh;
    z-index: 5;
  }
}

.sidemenu .grp-list {
  position: absolute;
  top: 20dvh;
  width: 100%;
  height: 80dvh;
  overflow-y: scroll;

  & li {
    font-size: 24px;
    letter-spacing: 0.02rem;
    font-weight: 500;
    cursor: pointer;
    padding-left: 3dvw;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    border-radius: 16px;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    & span {
      width: 68.9px;
      height: 68.9px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24.12px;
      font-weight: 400;
      color: #fff;
    }
  }
}

.sidemenu .newgroup-btn {
  width: 25vw;
  cursor: pointer;
  background-color: transparent;
  position: fixed;
  bottom: 4vh;
  padding-right: 30px;
  border-radius: 100%;
  border: none;

  & img {
    width: 93px;
    height: 93px;
    float: right;
  }
}

@media (max-width:768px) {
  .sidemenu {
    width: 100dvw;
    padding-left: 40px;
    overflow: hidden;

    .heading {
      font-size: 31.5px;
      text-align: left;
      padding-left: 20px;
      top: 7dvh;
    }

    .grp-list {
      top: 15dvh;

      & li {
        padding-left: 0;
        font-size: 18.6px;

        & span {
          width: 62px;
          height: 62px;
          font-size: 20px;
        }
      }
    }

    .newgroup-btn {
      width: 100vw;
      padding-right: 70px;

      & img {
        width: 75px;
        height: 75px;
        float: right;
      }
    }
  }
}


/************************** create group pop-up styling  *******************************/
.create-group {
  width: 740px;
  height: auto;
  opacity: 100%;
  z-index: 10;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  position: fixed;
  top: 35vh;
  left: 20vw;
  background-color: #fff;
  padding: 20px 40px;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h2 {
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 0.035rem;
    line-height: 45px;
  }
}

.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;

  & label {
    font-size: 27.31px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.035em;
    margin-right: 40px;
  }

  & input {
    /* height: 51px; */
    width: 435px;
    font-size: 23px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.035em;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    padding-left: 1.5vw;
  }

  .color {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .color:hover {
    scale: 1.2;
  }
}

.group-submit {
  padding: 5px 30px;
  background-color: #001F8B;
  border: none;
  border-radius: 11px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  float: right;
  cursor: pointer;
}

@media (max-width:768px) {
  .create-group {
    width: 284px;
    height: 211px;
    border: 0.88px solid #CCCCCC;
    padding: 10px 10px;
    gap: 5px;

    & h2 {
      font-size: 18.4px;
    }
  }

  .form-row {
    margin-bottom: 1px;

    & label {
      font-size: 14.6px;
      margin-right: 10px;
    }

    & input {
      height: 23px;
      width: 150px;
      font-size: 10px;
      border: 0.88px solid #CCCCCC;
      border-radius: 9.72px;
      padding-left: 1.5vw;
    }

    .color {
      margin-right: 5px;
      width: 17.67px;
      height: 17.67px;
    }
  }

  .group-submit {
    padding: 5px 50px;
    border-radius: 6px;
    font-size: 17px;
    float: none;
    margin: 5px 50px;
  }
}



/************************** Welcome side styling  *******************************/
.welcome {
  width: 75vw;
  height: 100vh;
  background-color: var(--welcomeColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }

  & p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: 32px;
  }

  .encryption {
    position: fixed;
    bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width:768px) {
  .welcome {
    width: 0px;
    display: none;
  }
}



/************************** Notes Page styling  *******************************/
.notes-container {
  width: 75vw;
  height: 100dvh;
}

.notes-container .heading {
  background-color: #001F8B;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 10;

  padding-left: 30px;
  width: 100%;
  height: 12dvh;

  & h2 {
    font-size: 24px;
    letter-spacing: 0.02rem;
    font-weight: 500;
  }

  & span {
    width: 68.9px;
    height: 68.9px;
    font-size: 24.12px;
    letter-spacing: 0.02rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

.backBtn {
  display: none;
}

.notes-container .notes {
  background-color: #DAE5F5;
  margin-top: 12vh;
  width: 100%;
  height: 58vh;
  overflow-y: scroll;

  .note-card {
    background-color: #fff;
    margin: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);


    & p {
      font-size: 18px;
      letter-spacing: 0.035rem;
      line-height: 1.6rem;
      padding-bottom: 30px;
      color: #000000;
    }

    .timeStamp {
      position: absolute;
      bottom: 12px;
      right: 25px;
      font-size: 18px;
      letter-spacing: 0.02rem;
      line-height: 1rem;
      color: #353535;
      display: flex;
      align-items: center;
      gap: 8px;

      .dot {
        width: 8px;
        height: 8px;
        background-color: #353535;
        border-radius: 100%;
      }
    }
  }
}

.input-container {
  background-color: #001F8B;
  padding: 20px 30px;
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 30vh;
  border-bottom-left-radius: 9px;

  .text-area {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    padding: 12px;
    font-size: 29.82px;
    letter-spacing: 0.02rem;
    border-radius: 9px;
    border: none;
    outline: none;
    resize: vertical;
    color: #9A9A9A;
    height: 25vh;
  }

  .enter-key {
    position: absolute;
    bottom: 40px;
    right: 50px;
    z-index: 10;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .notes-container {
    width: 100vw;
    overflow: hidden;
  }

  .notes-container .heading {
    gap: 10px;
    padding-left: 10px;
    height: 8dvh;

    & h2 {
      font-size: 16.8px;
    }

    & span {
      width: 48px;
      height: 48px;
      font-size: 16.8px;
    }
  }

  .backBtn {
    display: inline;
    cursor: pointer;
  }

  .notes-container .notes {
    margin-top: 7vh;
    height: 68vh;

    .note-card {
      margin: 20px;
      padding: 20px 10px;
      border-radius: 5px;


      & p {
        font-size: 13px;
        padding-bottom: 30px;
      }

      .timeStamp {
        bottom: 12px;
        right: 25px;
        font-size: 13.59px;
        gap: 8px;

        .dot {
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  .input-container {
    padding: 20px 30px;
    max-height: 20vh;
    border-radius: 0;

    .text-area {
      padding: 20px 12px;
      font-size: 17.71px;
      letter-spacing: 0.02rem;
      border-radius: 6px;
      height: 15vh;
    }
  }
}